# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 49f023af5255ca7aa99de922aa5af6a0faac58afa62816bd62e30222280c619265bf92d4e2effc733a76dfc2d1e552219907ec426f95552b37c07c83b58af275

test:
  secret_key_base: 241621086ec763b1866ff807f9320a4e762939dc09b97a693f11d5780d91df405dd149ce30ec4a371f059505c99d59efcc7da9ca0165ac24b97d7a239a3567f2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
